{
  "rules": {
    "comma-dangle": ["error", "never"],
//    "no-constant-condition": "error",
    "no-cond-assign": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty-character-class": "error",
    "no-empty": "error",
    "no-ex-assign": "error",
    "no-extra-parens": ["error", "functions"],
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-inner-declarations": 0,
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-negated-in-lhs": "error",
    "no-obj-calls": "error",
    "no-regex-spaces": "error",
    "no-sparse-arrays": "error",
    "use-isnan": "error",
    "valid-jsdoc": "error",
    "valid-typeof": "error",
//    "consistent-return": "error",
    "curly": "error",
    "default-case": "error",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "no-alert": "error",
    "no-caller": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extra-bind": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-implied-eval": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-native-reassign": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-new": "error",
    "no-octal-escape": "error",
    "no-octal": "error",
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-with": "error",
    "radix": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-unused-expressions": "error",
    "no-useless-call": "error",
    "no-void": "error",
    "init-declarations": "error",
    "yoda": "error",
    "no-delete-var": "error",
    "no-label-var": "error",
    "no-shadow-restricted-names": "error",
    "no-shadow": "error",
    "no-undef-init": "error",
    "no-undefined": "error",
    "no-mixed-requires": "error",
    "no-new-require": "error",
    "no-path-concat": "error",
    "no-process-exit": "error",
    "no-restricted-modules": "error",
    "max-nested-callbacks": ["error", 5],
    "new-parens": "error",
//    "no-lonely-if": "error",
    "no-mixed-spaces-and-tabs": "error",
//    "no-multiple-empty-lines": ["error", {"max": 2}],
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-spaced-func": "error",
    "no-unneeded-ternary": "error",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "stroustrup"],
    "camelcase": 0,
    "comma-spacing": ["error", {"before": false, "after": true}],
    "comma-style": ["error", "last"],
    "computed-property-spacing": ["error", "never"],
    "consistent-this": ["error", "vm", "model"],
    "eol-last": "error",
    "indent": ["error", 2],
    "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
    "padded-blocks": ["error", "never"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
    "space-infix-ops": ["error", {"int32Hint": true}],
    "space-unary-ops": "error",
    "spaced-comment": "error",
    "wrap-regex": "error",
    "arrow-parens": "error",
    "arrow-spacing": "error",
    "constructor-super": "error",
    "require-yield": "error",
    "max-depth": ["error", 6],
    "max-params": ["error", 6],
    "no-class-assign": "error",
    "no-const-assign": "error",
    "one-var": ["error", "never"],
    "no-dupe-class-members": 1,
    "no-this-before-super": "error",
    "no-var": "error",
    "semi": ["error", "never"],
    "no-unreachable": "error",
    "no-unexpected-multiline": "error"

    //    "callback-return": ["error", ["callback", "cb", "next"]],
  },

  "ecmaFeatures": {
    "jsx": true
  },

  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jasmine": true,
    "jquery": true,
    "es6": true
  },

  "globals": {
    "angular": true,
    "chai": true
  }
}
