<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Individual Pokemon</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <td>Sprite</td>
          <td>Type</td>
          <td>Evolves From</td>
          <td>Pokedex Number</td>
        </tr>
      </thead>
      <tbody>

        <!-- INSERT RENDERED DATA HERE -->
        
      </tbody>
    </table>
  </body>
</html>