html {
  background-color: #ADE0FF; /* a bright beautiful blue */
  font-family: Tahoma;
}

form fieldset input {
	display: block;
	margin-bottom: 10px;
	width: 80%;
	background-color: #7FE3AF; /* a grand garden green */
}

fieldset, input[type="submit"] {
	width: 30%;
	margin: auto;
	display: block;
}

input[type="submit"] {
  /* for cuteness*/
  background-color: #7FE3AF;
  border-radius:28px;
  border-radius:28px;
  border:1px solid #18ab29;
  color:#ffffff;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}

form {
	width: 100%;
}

